.navbar {
	background: #404041;
} /*top navigation*/

/*.success .brain {
    padding: 50px;
}*/

section.success .row {
    font-size: 20px;
}

/*header img { 
    max-width: 10%;  
    display: block;
    margin: 0 auto 20px;
}*/

header img.img-responsive { 
    max-width: 40%; 
}


header {
	background: #8CC63E;
} /*profile area*/


hr.star-light:after {
    color: #fff;
    background-color: #8CC63E;
}

#portfolio p {
	color: #C0C0C0;
    text-align: right;
}

section.success {
	background: #8CC63E;
}/*About Section
*/
/*
section.success img {
    border-radius: 50%;
    max-width: 10%;
}*/


header {
    text-align: center;
    color: #fff;
    background: #8CC63E;
}


footer .footer-above {
	background: #8CC63E;
}


footer .footer-below {
	background: #404041;
}
