.navbar {
	background: #404041;
} /*top navigation*/

header {
	background: #8CC63E;
} /*profile area*/


hr.star-light:after {
    color: #fff;
    background-color: #8CC63E;
}


section.success {
	background: #8CC63E;
}/*About Section
*/




footer .footer-above {
	background: #8CC63E;
}


footer .footer-below {
	background: #3B2314;
}

